.more-info {
  width: 100%;
  margin: 2rem 0;
  height: 50rem;
  overflow: auto;

  p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 2rem;
  }

  table {
    width: 100%;
    margin-top: 1rem;
    padding: 0 3rem;
    cursor: default;
  }

  tr td:only-child {
    font-weight: bold;
    color: rgb(130, 134, 158);
  }

  tr:nth-child(even) {
    background: rgb(246, 246, 246);
  }

  tr td:first-child {
    width: 40%;
  }

  td {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 960px) {
  .more-info {
    height: 60rem;

    table {
      padding: 0 1.2rem;
    }
  }
}
