.cart {
  background: #f8f8fc;
  padding-bottom: 0.5rem;

  .content {
    width: 80%;
    margin: 3rem auto;
    border-radius: 0.3rem;
  }
}

.text-cart {
  font-size: 2.8rem;
  margin-top: 2rem;
  text-align: center;
}
