.cart {
  background: #f8f8fc;
  padding-bottom: 0.5rem;

  .content {
    width: 80%;
    margin: 3rem auto;
    border-radius: 0.3rem;
  }
}

.text-cart {
  font-size: 2.8rem;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .cart {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .cart {
    margin-top: 6.5rem;
    font-size: 1.5rem;
  }
}
