.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;

  .list-product {
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .home {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 640px) {
  .home {
    font-size: 1.5rem;

    .list-product {
      margin: 4rem auto;
    }
  }
}
