.content {
  display: flex;
  padding: 1rem 2rem;

  .cart-item {
    position: absolute;
    width: 80%;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    overflow: auto;
  }

  .fill-info {
    width: 80rem;
    margin: 22rem auto 2rem;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 960px) {
  .content {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .content {
    margin-top: 6.5rem;
    font-size: 1.5rem;
  }
}
