.content {
  display: flex;
  padding: 1rem 2rem;
}
.cart-item {
  position: absolute;
  top: 50%;
  right: 6rem;
  transform: translateY(-50%);
  width: 50%;
}

.fill-info {
  width: 40%;
}

@media screen and (max-width: 960px) {
  .content {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 640px) {
  .content {
    margin-top: 6.5rem;
    font-size: 1.5rem;
  }
}
